<h2>Welcome </h2>
<p>Welcome to meadowlark travel ! please sign up to our newsletter using either :</p>
<ul>
    <li><a href="/newsletter-signup">Old-school form submission</a>.</li>
    <li><a href="/newsletter">Async form submission (recommended)</a>.</li>
</ul>

<p>Also please enter our vacation photo contest using either: </p>
<ul>
    <li><a href="/contest/vacation-photo ">Old school form submission </a>.</li>
    <li><a href="/contest/vacation-photo-ajax">Async form submission (recommended)</a>.</li>
</ul>

<p>(note to reader: we wuold never actually give silly choices this on a website ... this is just for you to see the difference)</p>


{{>weather}}