<h1>Example 9 home </h1>
<p>here are home links </p>
<ul>
    <li><a href="/page1">Page 1</a></li>
    <li><a href="/page2">Page 2</a></li>
    <li><a href="/page3">Page 3</a></li>
    <li><a href="/page4">Page 4</a> (i'm the bad egg!)</li>
    <li><a href="/what">What ? </a> (i'm also a bad egg!)</li>
</ul>