<h2>tell us about yourself</h2>
<form action="/process-contact" method="post">
 <div>
    <label>Your name: 
        <input type="name">
    </label>
 </div>
 <br />
 <div>
    <label>Your email: 
        <input type="email">
    </label>
 </div>
 <br />
 <div>
    <button type="submit">Submit</button>
 </div>
</form>